.shop-container{
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #b87af7;
}
.bikes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}