.questions-section{
     margin-top: 30px;
     color: rgb(1, 33, 87);
   
}
.question-container{
    text-align: start;
    border: 1px solid black;
    background-color: #EEDFFD;
    margin: 20px;
}

