.bike-container img{
    width: 300px;
    height: 300px;
}
.bike-container{
    background-color:#b97af73d;
    height: 500px;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    color: rgb(8, 53, 138)
}
.btn{
    width: 100%;
    position:absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #076fa3;
}
.btn:hover{
    background-color: #01304bb2;
}
.btn-text{
    margin-right: 15px;
    color: white;
}